@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap');
*,*::after,*,::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: 'Barlow';
}

body{
    display: grid;
    justify-content: center;

}

header{
    width: 375px;
    display: flex;
    justify-content: center;
}

.head{
    display: flex;
    width: 375px;
    justify-content: space-between;
}

.logo{
    width: 40px;
    height: 40px;
    background-color: #F16718;
    font-weight: 700;
    font-size: 20px;
    color: white;
    padding-left: 5px;
    padding-top: 2px;
}

.preorder{
    width: 150px;
    height: 48px;
    background-color: #E8EFF2;
    border-radius: 8px;
    padding-left: 13.5px;
    padding-top: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #162542;
}

.preorder:hover{
    background-color: #162542;
    color: white;
    cursor: pointer;
}

main{
    width: 375px;
}

.title{
    width: 327px;
    margin-top: 68px;
    margin-left: 24px;
}

span{
    width: 375px;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    color: #162542;
}

p{
    padding-top: 32px;
    width: 327px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
}

.button{
    display: flex;
    width: 327px;
    justify-content: space-between;
    margin-top: 32px;
}

.btn{
    width: 150px;
    height: 48px;
    background-color: #F16718;
    border: 0;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
}

.btn:hover{
    background-color: #FF9B62;
    color: white;
    cursor:pointer
}

a{
    justify-content: center;
    padding-top: 8px;
    color: #7B8BAD;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
}

.img1{
    width: 372px;
    height: 331px;
    background-image: url(./Assets/Bitmap.svg);
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: 70px;
    margin-right: 0;
}

.pct{
    margin-top: 20px;
    display: flex;
    
}

.pct1{
    background-image: url(./Assets/pct1.png);
    background-repeat: no-repeat;
    width: 129px;
    height: 193px;
    mix-blend-mode: multiply;
    opacity: 0.85;
}

.pct2{
    background-image: url(./Assets/pct2.svg);
    width: 220px;
    height: 193px;
}

.mech{
    width: 327px;
    text-align: center;
    margin-top: 60px;
    margin-left: 24px;
}

.mech h3{
    width: 255px;
    color:#162542;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 60px;
}

.mech p{
    width: 327px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #7B8BAD;
}

.highly{
    width: 327px;
    margin-top: 111px;
}

.icon1{
    border-radius: 16px;
    width: 65px;
    height: 65px;
    background-color: #F16718;
    margin-left: 128px;
}

.classicon{
    padding-left: 20px;
    padding-top: 22px;
}

.maintxt{
    margin-left: 24px;
}

.maintxt h4{
    padding-top: 48px;
    width: 327px;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #162542;
}

.maintxt h6{
    padding-top: 24px;
    width: 327px;
    text-align: center;
    color: #7B8BAD;
    font-weight: 500;
    line-height: 26px;
    font-size: 16px;
    
}

.second {
    margin-top: 64px;
}

.second h4{
    width: 327px;
    height: 56px;
}

.second h6{
    padding-top: 65px;
}

.bottom{
    margin-top: 64px;
}

footer{
    width: 327px;
    margin-top: 96px;
    padding-left: 51px;
    color: #7B8BAD;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
}


